%h1
  #{t('organization.edit-membership')}
  %em
    - if @user.name.present?
      = @user.name
    - else 
      = @user.email

%p
  #{t('users.joined-bi')} #{@user.created_at.strftime("%-m/%-d/%Y")}

%section.full-screen-table.padded
  %p 
    #{t('users.bike-indexed-for')}
    %strong
      = @membership.organization.name
    by
    - if @user.name.present?
      = @user.name
    - else 
      = @user.email
  %table#org-bikes-table.table.table-striped.table-bordered
    %thead
      / %th
      /   Link&nbsp;&nbsp;
      %th
        #{t('users.date-indexed')}
      %th.medium-screens
        #{t('shared.edit_bike.sent-to')}
      %th
        #{t('common.Manufacturer')}
      %th.large-screens
        #{t('common.Color')}&nbsp;&nbsp;

    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            - if bike.created_at.today?
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              Today at #{bike.created_at.strftime("%-I %p")}
            - elsif Date.yesterday().beginning_of_day() <= bike.created_at
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              Yesterday at #{bike.created_at.strftime("%-I %p")}
            - else
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              = bike.created_at.strftime("%-m/%-d/%Y at %-I %p")
          %td.medium-screens
            = bike.owner_email
          %td
            = bike.mnfg_name
          %td.large-screens
            = bike.primary_frame_color.name
          

%section.padded
  .well.span6.centered-form-well
    %h3
      #{t('common.Edit')} #{@user.email}

    .form.form-horizontal.padded
      = form_for @membership do |f|
       
        .control-group
          = f.label :role, class: "control-label"
          .controls.radio-controls
            %label.radio
              = f.radio_button :role, "admin"
              Admin of organization
            %label.radio
              = f.radio_button :role, "member"
              Member of organization

        .membership-actions.clearfix
          = f.submit "#{t('users.update-role')}", class: 'button-green'
          = link_to "#{t('users.delete-member')}", membership_url(@membership), method: :delete, confirm: "#{t('user.delete-conf-1')} #{@user.email} #{t('user.delete-conf-2')}", class: "button-red"
      