%h2.contribute-sbr
  #{t('stolen.Contribute')}!
%p
  #{t('stolen.stickers-p1')}
    
%p
  #{t('stolen.stickers-p2')}
%p
  #{t('stolen.stickers-p3')}
  %strong
    #{t('common.greatly')}
  #{t('common.appreciated')}.

.sticker-wells
  .well.sticker-well
    %h3
      #{t('stolen.death-to-bt')}
    %p
      #{t('stolen.by-far-most-popular')}
    = image_tag 'stolen/death_sticker.jpg', alt: "#{t('stolen.death-to-bt-lowercase')}", class: 'sticker-image'
    :plain
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="F597MSZFSAARW">
        <table>
        <tr><td><input type="hidden" name="on0" value="How many "Death to Bike Thieves" stickers?">How many "Death to Bike Thieves" stickers?</td></tr><tr><td><select name="os0">
          <option value="1 sticker">1 sticker $2.50 USD</option>
          <option value="2 stickers">2 stickers $4.00 USD</option>
          <option value="3 stickers">3 stickers $5.00 USD</option>
          <option value="4 stickers">4 stickers $7.00 USD</option>
          <option value="10 stickers">10 stickers $20.00 USD</option>
          <option value="20 stickers">20 stickers $40.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="none" name="submit" alt="buy a death to bike thieves sticker">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

  - fing = '#@%!ing'
  .well.sticker-well
    %h3
      #{t('stolen.i-want-my')} #{fing} #{t('stolen.bike-back')}
    %p
      #{t('stolen.because-seriously')} #{fing} #{t('stolen.bike-back-lowercase')}
    = image_tag 'stolen/bike_back_sticker.jpg', alt: "I Want My #{fing} Bike Back", class: 'sticker-image'
    :plain
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="2ED7CHT68Q2EA">
        <table>
        <tr><td><input type="hidden" name="on0" value="How many "I Want My #{fing} Bike Back" stickers?">How many "I Want My #{fing} Bike Back" stickers?</td></tr><tr><td><select name="os0">
          <option value="1 sticker">1 sticker $2.50 USD</option>
          <option value="2 stickers">2 stickers $4.00 USD</option>
          <option value="3 stickers">3 stickers $5.00 USD</option>
          <option value="4 stickers">4 stickers $7.00 USD</option>
          <option value="10 stickers">10 stickers $20.00 USD</option>
          <option value="20 stickers">20 stickers $40.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
%p
  #{t('stolen.if-you-want-more')}
  %a{ href: 'mailto:bryan@bikeindex.org'}
    bryan@stolenbicycleregistry.org
