.home-subhead
  .container
    %h2
      <%= t 'index_title2' %>
    
    %h3
      #{t('stolen.index-desc-1')}
    %h3
      #{t('stolen.index-desc-2a')} #{link_to "#{t('stolen.index-desc-2b')}", new_bike_url(stolen: true)}.
    %h3
      #{t('common.We-ve')} <strong>#{t('common.registered')} #{number_with_delimiter(Bike.count)} #{t('common.bikes')}</strong> #{t('common.and')} <strong>#{t('common.recovered')} #{number_with_delimiter(StolenRecord.recovered.where("date_recovered < ?", Time.zone.now.beginning_of_day).count)}</strong> #{t('common.stolen-bikes')}.
    %h3
      - cache('stolen_home_organizations', expires_in: 1.day) do
        #{t('stolen.index-desc-3a')} <strong>#{Organization.count} #{t('stolen.index-desc-3b')}, </strong> #{t('common.and')} <strong>#{t('stolen.index-desc-3c')}</strong>.
.container
  %h4.multi-search-toggle
    %a#show_multi_search{ href: '#' }
      #{t('stolen.show-multi-search')}
  .multiserial-form#ms_form_section
    .padded
    %h3
      #{t('stolen.multiple-serial-search')}
    = text_area_tag :multi_serial_search, nil, placeholder: "#{t('stolen.enter-multiple-serial')}", class: 'form-control'
    %a#search_serials.sbrbtn{ href: '#', data: { target: api_v1_bikes_url } }
      = image_tag 'stolen/search.svg'
    %section#ms_search_section.hidden
      .padded
      .multiserial-response
        %h2
          #{t('stolen.multi-serial-result')}
        %ul#serials_submitted.multiserials-list
        .multiserial-fuzzy-box
          %a#multiserial_fuzzy.button-green{ href: '#', data: { target: close_serials_api_v1_bikes_url }}
            %span
              #{t('stolen.find-nearly-matching')}
            %span.ms-short-fuzzy
              #{t('stolen.find-near-matches')}
        
        #bikes_returned.padded

.container
  = render '/shared/google_text_ad'

.sbr-wrap#sbr-body
  
  %section.sbr-get-involved
    .container
      %h1
        #{t('stolen.get-involved')}

      .involve-yerself
        .involve-report
          %h3
            #{t('stolen.report-theft-issues')}
          .involve-report-form
            = form_for @feedback do |f|
              = f.hidden_field :feedback_type, value: 'stolen_information'
              - if @feedback.errors.any?
                #alert-block
                  .alert.alert-error
                    %a.close{"data-dismiss" => "alert"} ×
                    %h4
                      #{t('stolen.please-fix')}
                      = "#{t('common.errors', :count => @feedback.errors.count)}"
                    %ul
                      - @feedback.errors.full_messages.each do |msg|
                        %li 
                          = msg  
              .report-type
                %label
                  = f.radio_button :title, "#{t('stolen.someone-sells-stolen')}", checked: true
                  #{t('stolen.report-sells-stolen')}
                %label
                  = f.radio_button :title, "#{t('stolen.bike-chopshop-report')}"
                  #{t('stolen.report-chopshop')}
                    
              .contact-text
                = f.text_area :body, placeholder: "#{t('stolen.where-is-this-happening')}", rows: 5, class: 'form-control'
              .contact-actions.control-group
                = f.email_field :email, placeholder: "#{t('stolen.your-email')}", class: 'form-control'
                = f.submit "#{t('stolen.send-alert')}!", class: 'btn pull-right'

        .involve-widget
          %h3
            #{t('stolen.list-recent-stolen')}
          
          
          #binx_stolen_widget{ data: { location: 'ip', height: '350px' } }
          <script src="https://binx-widget.herokuapp.com/include.js"></script>
                
    / %section
    /   .container
    /     = render '/stolen/stickers'

    %section
      / .container
      /   %h3
      /     #{link_to "Donation is also always appreciated", support_the_index_path}
      /   %p
      /     If stickers aren't your thing, a 
      /     %strong
      /       donation is also always appreciated.
      /     Every single penny you donate goes towards recovering more bikes.
      /   .padded
    .container

      .alert.alert-info.stolen-bike-merge-alert
        %h4
          #{t('stolen.alert1')}
        %p
          #{t('stolen.alert2a')} #{link_to "#{t('stolen.alert2b')}", 'https://bikeindex.org/news/providing-the-largest-and-most-effective-bicycle-registry---ever'} #{t('common.and')} #{link_to "#{t('stolen.alert2c')}", 'https://medium.com/@stolenbikessfo/stolenbicycleregistry-just-merged-with-bikeindex-org-102ffa548821'}!
        %p
          \- Bryan Hance & Bike Index