= form_for @stolen_notification do |f|
  = f.hidden_field :bike_id, value: @bike.id

  .control-group
    = f.label :message, "#{t('stolen.send-a-message')}", class: "control-label"
    .controls
      = f.text_area :message, required: true, rows: 2
  .control-group
    = f.submit "#{t('common.Send')}", class: 'button-blue'