.organized-page-header
  %h1
    #{t('organized.Invite-user')}
  %p
    #{t('organized.You-have-inv')}
    %strong
      #{ t('common.users', :count => current_organization.sent_invitation_count) },
    %br
    #{t('organized.and-can-add')}
    %strong
      #{current_organization.available_invitation_count} #{t('common.more')}.

= form_for @organization_invitation, { as: :organization_invitation, url: organization_users_path(organization_id: current_organization.to_param), action: 'create', html: { class: 'organized-form' } } do |f|

  .form-group.row
    = f.label :invitee_email, "#{t('organized.email-youre-inv')}", class: 'org-form-label'
    .col-sm-4
      = f.email_field :invitee_email, required: true, class: 'form-control'

  .form-group.row
    = f.label :invitee_name, "#{t('common.Name')}", class: 'org-form-label'
    .col-sm-4
      = f.text_field :invitee_name, required: true, class: 'form-control'

  .form-group.row
    %label.org-form-label
      #{t('organized.Membership-type')}
    .col-sm-4
      .radio
        %label
          = f.radio_button :membership_role, Membership.membership_types.first
          #{t('users.admin-of-org')}
      .radio
        %label
          = f.radio_button :membership_role, Membership.membership_types.second
          #{t('users.member-of-org')}

  .form-group.row      
    .col-sm-4.col-sm-push-4
      = f.submit "#{t('organized.send-invitation')}", class: 'btn btn-success btn-lg'

