- sentence_prefix = "#{ @bike.stolen && @bike.recovered  ? "#{t('organized.recovered')} " : "#{t('common.stolen')} " }#{ @bike.type } #{t('organized.to-the-bi')}#{ " #{t('organized.for-you')}" unless @vars[:registered_by_owner] }:"
- if @vars[:registered_by_owner]
  #{t('organized.you-added')} #{ sentence_prefix }
- else
  = @creation_org.present? ? @creation_org.name : @ownership.creator.display_name
  - if @vars[:new_registration]
    #{t('organized.added')} #{ sentence_prefix }
  - else
    #{t('organized.sent-you')} #{ sentence_prefix }


- bike_url = ownership_url(@ownership)

\---------------------------------------------------------------

#{t('common.Make')}: #{ @bike.mnfg_name }

#{t('common.Serial')}: #{ @bike.serial_number }

#{t('common.Colors', :count => @bike.frame_colors.count)}: #{ @bike.frame_colors.to_sentence }

- if @bike.stolen
  - stolen_record = @bike.current_stolen_record
  #{ @bike.recovered ? "#{t('shared.email_bike.Found')}" : "#{t('shared.email_bike.Stolen-from')}" }#{ stolen_record.show_stolen_address }

  #{t('common.Date')}: #{ l stolen_record.date_stolen, format: :dotted }

- if (@bike.ownerships.count == 1 && @bike.registered_new)
  #{t('organized.color-maybe-incorrect')}

\---------------------------------------------------------------

- if @bike.stolen
  - if @bike.recovered
    #{t('organized.hopefully-you')}
  - else 
    #{t('organized.hopefully-you1')} #{ @bike.type } #{t('common.soonn')}.
  
  #{t('organized.give-us')} (#{ edit_bike_url(@bike) })

- unless @ownership.claimed
  #{t('organized.claim')} #{ @bike.type } #{t('organized.at-url')}: #{ bike_url }

  #{t('organized.sign-up-on')} #{ @bike.type }

  #{t('organized.edit-it')}

- unless @bike.recovered
  \---------------------------------------------------------------

  #{t('organized.protect-your-bike')}

  \- #{t('organized.protect1')}

  \- #{t('organized.secure-both')}

  \- #{t('organized.before-lock')}
  
  #{t('organized.read-more-here')}: #{ protect_your_bike_url }
