- if @vars[:new_user]
  %h2{ style: 'margin-bottom: 12px;' }
    #{t('organized.welcome')}

- if @organization && @organization.mail_snippet_body('welcome').present?
  = @organization.mail_snippet_body('welcome').html_safe

- else
  - if @bike.recovered
    %h1
      #{t('organized.thank-you')} #{ @bike.type } #{t('organized.you-found')}
  - elsif @bike.stolen
    %h1
      #{ @bike.type } #{t('organized.thieves-are')}.
    %p
      #{t('organized.were-sorry')} #{ @bike.type } #{t('organized.was-stolen')}.
  - else
    %h1
      #{t('organized.congrats')} #{ @bike.type } #{t('organized.with-bi')} #{ "#{t('common.and')} #{@organization.short_name}" if @organization }

%p
  - if @vars[:registered_by_owner]
    #{t('organized.you-added')}
  - else
    %strong
      = @creation_org.present? ? @creation_org.name : @ownership.creator.display_name

    - if @vars[:new_registration]
      #{t('organized.added')}
    - else
      #{t('organized.sent-you')}
  - if @bike.stolen? || @bike.recovered
    = @bike.recovered ? "#{t('organized.recovered')} " : "#{t('common.stolen')} "
  #{ @bike.type } #{t('organized.on-bi')}#{ " #{t('organized.for-you')}" unless @vars[:registered_by_owner] }:

- unless @ownership.claimed
  %h2
    #{t('organized.youre-almost-done')}

= render partial: '/shared/email_bike_box'

- if @bike.stolen
  %p
    - if @bike.recovered
      #{t('organized.hopefully-you')}
    - else 
      #{t('organized.hopefully-you1')} #{ @bike.type } #{t('common.soon')}.

    #{ link_to "#{t('organized.heads-up')}", edit_bike_url(@bike) } #{t('organized.when-you-do')}!

- unless @ownership.claimed
  - claim_type = @vars[:registered_by_owner] ? "#{t('organized.claim')}" : "#{t('organized.confirm')}"
  = link_to "#{claim_type} #{ @bike.type }", bike_url(@bike), class: 'binx-button'
  %p
    #{t('organized.sign-up-on')} #{ @bike.type }
    - if @bike.stolen
      #{t('organized.and-edit1')}
    - else
      #{t('organized.and-edit2')}

- if @organization && @organization.mail_snippet_body('security').present?
  = @organization.mail_snippet_body('security').html_safe
- else
  - unless @bike.recovered
    %hr

    %h2
      #{t('organized.protect-your-bike')}
    %ul.binx-bulleted-list
      %li
        %strong
          #{t("organized.use-ulock")}.
        #{t('organized.cable-locks-never')}
      %li
        #{t('organized.secure-both')}
      %li
        #{t('organized.before-lock')}
    %p
      #{t('organized.read-more-about')} #{ link_to "#{t('organized.protecting')}", protect_your_bike_url }
    .locking-demonstration
      %img{ alt: "#{t('organized.img-alt')}", src: 'https://files.bikeindex.org/email_assets/locking.gif', title: "#{t('organized.img-title')}" }
    %p.center-text
      %em
        #{t('organized.correctly-locked')}

