%h1
  #{t('common.Hello')} #{@organization_invitation.invitee_name},
- if @is_new_user
  %h2
    #{t('organized.welcome')}
%p #{@inviter.display_name} #{t('organized.has-indicated')} #{@organization.name}.

= link_to "#{t('common.Join')} #{@organization.short_name}", new_user_url, class: 'binx-button'
