  #{t('common.Hello')} #{"#{t('organized.welcome')}" if @new_user == true}

#{@inviter.display_name} #{t('organized.has-indicated')} #{@organization.name}.

#{t('users.signup-signin')} #{@organization.name}!