.form-wrap
  .form-well-form-header
    %h3
      #{t('users.reset-password')}
  .form-group.row.unnested-field
    = f.label :current_password, class: 'form-well-label'
    .form-well-input
      = f.password_field :current_password, placeholder: "#{t('users.for-password-update')}", class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password, "#{t('users.new-password')}", class: 'form-well-label'
    .form-well-input
      = f.password_field :password, placeholder: "#{t('users.new-password')}", class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password_confirmation, "#{t('users.new-password-conf')}", class: 'form-well-label'
    .form-well-input
      = f.password_field :password_confirmation, placeholder: "#{t('users.new-password-conf')}", class: 'form-control'
