.form-wrap
  .form-well-form-header
    %h3
      #{t('users.sharing-settings')}
  
  .related-fields
    .form-group.row.sharing-collapser{ data: { target: '#twitter-field' } }
      %label.form-well-label
        #{t('users.show-twitter')}
      .form-well-input
        %label.radio-inline
          = f.radio_button :show_twitter, 'true'
          #{t('users.show-twitter')}
        %label.radio-inline
          = f.radio_button :show_twitter, 'false'
          #{t('users.no-twitter')}
    #twitter-field.form-group.row.collapse
      = f.label :twitter, "#{t('users.twitter-handle')}", class: 'form-well-label'
      .form-well-input
        = f.text_field :twitter, placeholder: "#{t('users.twitter-handle')}", class: 'form-control'

    .form-group.row.sharing-collapser{ data: { target: '#personal-field' } }
      %label.form-well-label
        #{t('users.show-personal-site')}
      .form-well-input
        %label.radio-inline
          = f.radio_button :show_website, 'true'
          #{t('users.show-personal-website')}
        %label.radio-inline
          = f.radio_button :show_website, 'false'
          #{t('users.no-personal-site')}
    #personal-field.form-group.row.collapse
      = f.label :website, "#{t('users.personal-site-url')}", class: 'form-well-label'
      .form-well-input
        = f.text_field :website, placeholder: 'example.com', class: 'form-control'

  .related-fields
    .form-group.row
      = f.label :my_bikes_link_target, "#{t('users.additional-link')}", class: 'form-well-label'
      .form-well-input
        = f.text_field :my_bikes_link_target, value: @user.mb_link_target, placeholder: "http://example.com", class: 'form-control'
    .form-group.row
      = f.label :my_bikes_link_target, "#{t('users.title-link')}", class: 'form-well-label'
      .form-well-input
        = f.text_field :my_bikes_link_title, value: @user.mb_link_title, placeholder: "#{t('users.my-awesome-link')}", class: 'form-control'

  .form-group.row.unnested-field.no-divider-row
    = f.label :username, class: 'form-well-label'
    .form-well-input
      = f.text_field :username, class: 'form-control'
      .below-input-help
        #{t('users.your-username-is-url')}
  %hr
  .col-xs-12
    %p
      #{t('users.the-bi-can-create')}
      = link_to '(preview page)', user_url(@user), target: '_blank'
    .form-group.unnested-field.row.sharing-collapser{ data: { target: '#personal-page' } }
      %label.form-well-label
        #{t('users.create-public-pagel')}
      .form-well-input
        %label.radio-inline
          = f.radio_button :show_bikes, 'true'
          #{t('users.create-page')}
        %label.radio-inline
          = f.radio_button :show_bikes, 'false'
          #{t('users.no-dont-create-page')}
    .related-fields#personal-page.collapse.no-divider-row
      .form-group.row.avatar-upload-wrapper
        %label.form-well-label
          #{t('users.profile-avatar')}
        .form-well-input
          - if @user.avatar? 
            = image_tag(@user.avatar_url(:thumb))
          %img.replaced-img
          %label.file
            = f.file_field :avatar, class: 'avatar-upload-field'
            %span.file-custom
              %span.file-upload-text #{t('users.choose-file')}...
            = f.hidden_field :avatar_cache

      .form-group.row
        = f.label :title, "#{t('users.page-title')}", class:  'form-well-label'
        .form-well-input
          = f.text_field :title, placeholder: "#{t('users.this-users-bike')}", class: 'form-control'
      .form-group.row
        = f.label :description, "#{t('users.page-text')}", class:  'form-well-label'
        .form-well-input-large
          = f.text_area :description, rows: 6, class: 'form-control'
