%section.content
  .receptacle
    .inner-recep.legal-content
      = render partial: "/info/vendor_terms_text"

.accept-vendor-terms

  = form_for @user do |f|
    
    .form-horizontal
      .control-group
        %label
          .control-label
            = f.check_box :vendor_terms_of_service
          .controls
            #{t('users.i-agree-to-bi')}
            %strong
              #{t('users.terms-for-vendors')}
    .agree-action
      .control-group
        = f.submit "#{t('common.Submit')}", class: 'button-blue'