.container
  %h3
    #{t('users.reset-your-pass')}
  %p
    #{t('users.enter-email-for-reset')}

  = form_tag '/users/password_reset', method: 'post' do
    .form-group
      %input{ name: "#{t('common.email')}", id: "#{t('common.email')}", type: "#{t('common.text')}", placeholder: "#{t('common.your-email')}", class: 'form-control' }
    
    %input{ type: "#{t('common.submit')}", value: "#{t('users.reset-Password')}", class: 'btn btn-primary btn-lg' }


