.container
  .choose-a-new-pass
    %h3
      #{t('users.choose-new-password')}
    %p
      (and try not to forget it...)

    = form_for @user, html: { class: "form-horizontal form" } do |f|
      = f.hidden_field :password_reset_token, value: params[:token]
      .form-group
        %label{ for: "user_Password" }
          #{t('users.update-your-pass')}
          = f.password_field :password, placeholder: "Password", class: 'form-control'
      .form-group
        %label{ for: "user_password_confirmation" }
          #{t('users.password-Confirmation')}
          = f.password_field :password_confirmation, placeholder: "#{t('users.password-confirmation')}", class: 'form-control'
      .actions
        = f.submit "#{t('users.update-pass')}", class: 'btn btn-primary btn-lg'

