
%h2
  - if @b_param.stolen
    #{t('registration.we-got-this')}
  - else
    #{t('registration.radicool')}
%p
  #{t('users.we-sent-email')}:
  %strong #{@b_param.owner_email}
%p
  #{t('registration.find-instructions')}

- if @b_param.stolen
  %p
    #{t('registration.well-do-best')}
