- @ownership ||= @bike.current_ownership
- bike_url = ownership_url(@ownership)
- thumb_url = @bike.thumb_path || @bike.stock_photo_url
- unless thumb_url.present?
  - thumbclass = 'placeholder'
  - thumb_url = 'https://files.bikeindex.org/email_assets/bike_photo_placeholder.png'
.bike-display
  .image-holder{ class: thumbclass }
    %a{ href:  bike_url }
      %img{ src: thumb_url }
  %ul.info-holder
    %li
      %strong
        "#{t('common.Make')}:"
      = @bike.mnfg_name
    %li
      %strong
        "#{t('common.Serial')}:"
      = @bike.serial_number
    %li
      %strong
        #{t('common.Color')}#{ 's' if @bike.frame_colors.count > 1 }:
      = @bike.frame_colors.to_sentence
    - if @bike.stolen
      - stolen_record = @bike.current_stolen_record
      %li
        %strong
          = @bike.recovered ? "#{t('shared.email_bike.Found'}" : "#{t('shared.email_bike.Stolen-from'}"
        = stolen_record.show_stolen_address
      %li
        %strong
          "#{t('common.Date')}:"
        = l stolen_record.date_stolen, format: :dotted
    - if (@bike.ownerships.count == 1 && @bike.registered_new)
      %li
        %em.less-strong
          #{t('shared.email_bike.color-maybe-incorrect')}
  .clearstuffdiv