:javascript
  var anchor, idx, url, $target;
  url = window.location.href;
  idx = url.indexOf('#');
  if (idx !== -1) {
    anchor = url.substring(idx + 1);
    $(document).ready(function() {
      $target = $("#" + anchor);
      $target.collapse('show');
      $('body').animate({ scrollTop: $target.offset().top - 120 }, 'fast');
    });
  }


%article
  .faq-block#main-faq-block
    %h3
      #{t('shared.faq.common-issues-faq')}
    %dl
      %dt.collapse-faq
        %a.collapsed{ href: "#who-can-register", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q1')}
      %dd#who-can-register.collapse
        %p
          #{t('shared.faq.a1')}
     
      %dt.collapse-faq
        %a.collapsed{ href: "#how-verify", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q2')}
      %dd#how-verify.collapse
        %p
          #{t('shared.faq.a2-1a')} #{ link_to "#{t('shared.faq.a2-1b')}", where_url } #{t('shared.faq.a2-1c')}.
        %p
          #{t('shared.faq.a2-2')}
      
      %dt.collapse-faq
        %a.collapsed{ href: "#bike-by-serial", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q3')}
      %dd#bike-by-serial.collapse
        %p
          #{t('shared.faq.a3-1')}
        %p
          #{t('shared.faq.a3-2')}
        = form_tag bikes_path, method: :get do 
          = text_field_tag :serial, params[:serial], placeholder: "#{t('shared.faq.a3-3')}", class: 'faq-search-search-field'
          = button_tag(type: "submit", class: "searchit") do
            = image_tag 'stolen/search.svg'        
        %p
          #{t('shared.faq.a3-4a')} &mdash; #{t('shared.faq.a3-4b')}
      
      %dt.collapse-faq
        %a.collapsed{ href: "#what-if-i-sell", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q4')}
      %dd#what-if-i-sell.collapse
        %p
          #{t('shared.faq.a4-1')}
        %p.steps
          #{t('shared.faq.a4-2')}
        = image_tag "home/transfer_shot1.png", alt: "#{t('shared.faq.a4-2a')}", class: "demo-screen"
        %p.steps
          #{t('shared.faq.a4-3')}
          %em
            #{t('shared.faq.a4-3a')}.
        = image_tag "home/transfer_shot2.png", alt: "#{t('shared.faq.a4-3b')}", class: "demo-screen"

      %dt.collapse-faq
        %a.collapsed{ href: "#how-vendor", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q5')}
      %dd#how-vendor.collapse
        %p
          #{t('common.Absolutely')}!
        %p
          #{t('shared.faq.a5-1')} #{link_to "#{t('shared.faq.a5-2')}", new_organization_path}, #{t('shared.faq.a5-3')}

      %dt.collapse-faq
        %a.collapsed{ href: "#how-advertising", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q6')}
      %dd#how-advertising.collapse
        %p
          #{t('shared.faq.a6-1')}
        %p
          #{t('common.Email')} #{link_to "alex@bikeindex.org", "mailto:alex@bikeindex.org"} #{t('shared.faq.a6-2')}!
        
      %dt.collapse-faq
        %a.collapsed{ href: "#already-stolen", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q7')}
        %dd#already-stolen.collapse
          %p
            %strong
              #{t('shared.faq.a7-1')}
          %p
            #{t('shared.faq.a7-2')}
          %p
            #{t('shared.faq.a7-3a')} #{link_to "#{t('shared.faq.a7-3b')}", stolen_bikes_url} #{t('shared.faq.a7-3c')} #{link_to "#{t('shared.faq.a7-3d')}", new_bike_url(stolen: true)}.
      %dt.collapse-faq
        %a.collapsed{ href: "#does-this-prevent-theft", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q8')}
      %dd#does-this-prevent-theft.collapse
        %p
          #{t('shared.faq.a8-1')}
        %p
          #{t('shared.faq.a8-2')}
        %p
          #{t('shared.faq.a8-3')}
        %p
          #{t('shared.faq.a8-4')}


      %dt.collapse-faq
        %a.collapsed{ href: "#kit-bro", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q9')}
        %dd#kit-bro.collapse
          %p
            #{t('shared.faq.a9-1a')} #{link_to "#{t('common.blog')}", blogs_url}! #{t('shared.faq.a9-1b')}
          %p
            #{t('shared.faq.a9-2a')} #{link_to "#{t('common.Twitter')}", "https://twitter.com/BikeIndex"} #{t('common.and')} #{link_to "#{t('common.Facebook')}", "https://facebook.com/bikeindex"}.
          
      / %dt.collapse-faq
      /   %a.collapsed{ href: "#business-type", data: { toggle: "collapse"} }
      /     %span
      /       &#x25B6;
      /     Is the Bike Index a not-for-profit?
      /   %dd#business-type.collapse
      /     %p
      /       We're an Illinois 
      /       = succeed "," do
      /         %a{ href: "http://en.wikipedia.org/wiki/Benefit_corporation" }
      /           benefit corporation
      /       a type of company that is required by law to create benefit for society as well as shareholders.
      /     %p
      /       Essentially, it's a hybrid of a for-profit and not-for-profit company.
          
      /     %p
      /       We decided to form a benefit corporation because we believe it's the best way to build an excellent service, be awesome, and fight bike theft.

      %dt.collapse-faq
        %a.collapsed{ href: "#used-for-evil", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q10')}
        %dd#used-for-evil.collapse
          %p
            #{t('shared.faq.a10')}

      %dt.collapse-faq
        %a.collapsed{ href: "#what-about-privacy", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q11')}
      %dd#what-about-privacy.collapse
        %p
          #{t('shared.faq.a11-1')}
        %p
          #{t('shared.faq.a11-2')}
        %p
          #{t('shared.faq.a11-3a')}
          = link_to "#{t('shared.faq.a11-3b')}", "https://www.bikeindex.org/news/privacy-on-the-bike-index"
          #{t('shared.faq.a11-3c')}

      %dt.collapse-faq
        %a.collapsed{ href: "#public-serials", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          #{t('shared.faq.q12')}
        %dd#public-serials.collapse
          %p
            %strong
              #{t('shared.faq.a12-1')}
            #{t('shared.faq.a12-2')}
          %p
            #{t('shared.faq.a12-3')}
          %p
            #{t('shared.faq.a12-4')}
          %p
            #{t('shared.faq.a12-5a')} #{link_to "#{t('shared.faq.a12-5b')}", "https://en.wikipedia.org/wiki/Security_through_obscurity"} #{t('shared.faq.a12-5c')}
          %p
            #{t('shared.faq.a12-6')}
          %p
            #{t('shared.faq.a12-7a')} &mdash; #{t('shared.faq.a12-7b')}