- cache 'footer_old' do 
  %footer.global-footer#page-foot
    .receptacle
      %ul.footer-links
        %li
          = link_to "#{t('welcome.index.register-button')}", choose_registration_url
          %ul
            %li
              = link_to "#{t('layouts.content.bi-partner-organizations')}", where_url
            %li
              = link_to "#{t('shared.footer.bi-resources')}", resources_url
            
        %li
          = link_to "#{t('shared.footer.about-bi')}", about_url
          %ul       
            %li
              = link_to "#{t('layouts.content.bi-news')}", news_index_url
            %li
              = link_to "#{t('layouts.content.list-manufacturers')}", manufacturers_url
           
        %li.contact-nav-btns
          = link_to "#{t('common.Help')}", help_url
          %ul
            %li
              = link_to "#{t('shared.footer.contact-us')}", help_path(anchor: 'contact_us_section')
              = link_to "#{t('layouts.content.signup-shop-org')}", new_organization_path
              
        %li.social
          %ul
            %li
              = link_to image_tag("facebook.svg", alt: "#{t('shared.header.title')} #{t('common.Facebook')}"), "https://facebook.com/bikeindex"
            %li
              = link_to image_tag("twitter.svg", alt: "#{t('shared.header.title')} #{t('common.Twitter')}"), "https://twitter.com/BikeIndex"

      %p
        %span{data: {license: "https://github.com/bikeindex/bike_index/blob/master/LICENSE"}}
          #{Time.zone.now.year} &copy; Bike Index.
        - if current_user.present? && current_user.has_membership?
          #{link_to "#{t('shared.footer.privacy-policy')}", privacy_url}, #{link_to "vendor terms", vendor_terms_url}
        - else
          #{link_to "#{t('shared.footer.privacy-policy')}", privacy_url}
        and #{link_to "#{t('shared.footer.terms-conditions')}", terms_url}.
        