- cache 'root_head_wrap', skip_digest: true do # Expired in recovery_displays_controller
  - @recovery_displays = RecoveryDisplay.limit(10)
  .container.home-header#home_headies
    %h1
      %a.home_header_link{href: choose_registration_path }
      #{t('welcome.index.title1-1')}
      %span
        #{t('welcome.index.title1-2')}
    .testimonial-container
      %h2.visuallyhidden
        Testimonials:
      - @recovery_displays.each_with_index do |recovery, i|
        - cache(recovery) do
          .testimonial-block{class: "testimonial-#{recovery.id}"}
            %p.testimonial-quote
              %span.ptestimonial
                = recovery.quote.html_safe
            %span.testimonial-user
              - if recovery.image.present?
                %img{ data: { lazy: recovery.image_url(:medium) }}
              - else
                %span.no-image-spacer
              - if recovery.quote_by
                %span.h3testimonial
                  = recovery.quote_by
              %span.h4testimonial
                - txt = recovery.bike.present? ? recovery.bike.type.titleize : 'Bike'
                - txt += " <span class='recover-date'>recovered #{l recovery.date_recovered, format: :dotted}</span>"
                - if recovery.link.present?
                  %a.recover-date{href: recovery.link}
                    = txt.html_safe
                - else
                  = txt.html_safe
                
    .wheeled
      %span.register-container
        = link_to "#{t('welcome.index.register-button')}", choose_registration_path, class: "btn binxbtn binxbtn-lg"
      %span.wheel-holder
        = image_tag "updated/home/wheel_white.png", alt: "(spinning wheel graphic)", id: 'wheeled_wheel', role: 'presentation', :"aria-hidden" => "true"
- cache('root_bike_count', expires_in: 5.minutes) do
  .home-subhead
    .container
      %h2 #{t('welcome.index.title2-1')}&mdash;#{t('welcome.index.title2-2')}
      %h3 #{t('welcome.index.desc1')}
      %h3
        #{t('welcome.index.desc2')}
        %a.scroll-to-ref{ href: "#how_it_works" }
          #{t('welcome.index.desc2-link1')}
        #{t('common.or')} #{link_to "#{t('welcome.index.desc2-link2')}", choose_registration_path}.
      %h3
        #{t('welcome.index.desc3-1')} <strong>#{t('common.registered')} #{number_with_delimiter(Bike.count)} #{t('common.bikes')}</strong> #{t('common.and')} <strong>#{t('common.recovered')} #{number_with_delimiter(StolenRecord.recovered.where("date_recovered < ?", Time.zone.now.beginning_of_day).count)}</strong> #{t('welcome.index.desc3-2')}.
- cache 'root_home_1' do
  .info-blocks
    .container
      %article
        = image_tag "updated/info_blocks/online.svg"
        %h2
          #{t('common.simple')}
        %p
          #{t('welcome.index.simple-desc')}

      %article
        = image_tag "updated/info_blocks/secured.svg"
        %h2
          #{t('common.secure')}
        %p
          #{t('welcome.index.secure-desc')}

      %article
        = image_tag "updated/info_blocks/free.svg"
        %h2
          #{t('common.free')}
        %p
          #{t('welcome.index.free-desc')}

  .how-it-works#how_it_works
    .container
      %h2
        #{t('welcome.index.how-it-works')}
      %p
        #{t('welcome.index.hiw-desc1')}
      %p
        #{t('welcome.index.hiw-desc2')}
      %p
        #{t('welcome.index.hiw-desc3')}

      %p
        / Have any questions? Join the discussion #{link_to 'here', 'https://discuss.bikeindex.org'}.

    
  .bike-background
    .supporters
      .container
        %h2
          #{t('welcome.index.used-by')}:
        %ul.horizontal-list
          %li
            %a{href: "http://www.peopleforbikes.org/", target: "_blank"}
              = image_tag "supporters/people_for_bikes.png", alt: "People for bikes logo", title: "People for bikes"
          %li
            %a{href: "http://trailnet.org/", target: "_blank"}
              = image_tag "supporters/trailnet.png", alt: "Trailnet logo", title: "Trailnet"
          %li
            %a{href: "http://bikepgh.org/", target: "_blank"}
              = image_tag "supporters/bike_pgh.png", alt: "Bike Pittsburgh logo", title: "Bike Pittsburgh"
          %li
            %a{href: "https://www.BikeEastBay.org/", target: "_blank"}
              = image_tag "supporters/bike_east_bay.png", alt: "Bike East Bay logo", title: "Bike East Bay"
          %li
            %a{href: "http://indycog.org/", target: "_blank"}
              = image_tag "supporters/indycog.png", alt: "INDYCOG logo", title: "INDYCOG"
          %li
            %a{href: "http://www.activetrans.org/", target: "_blank"}
              = image_tag "supporters/active_trans1.png", alt: "Active Transportation Alliance logo", title: "Active Transportation Alliance"
        %ul.horizontal-list
          %li
            %a{href: "http://www.seattle.gov/police/", target: "_blank"}
              = image_tag "supporters/seattlepd.png", alt: "Seattle police"
          %li
            %a{href: "https://stlouis-mo.gov/", target: "_blank"}
              = image_tag "supporters/st_louis.png", alt: "City of Saint Louis"
          %li
            %a{href: "http://sf-police.org/", target: "_blank"}
              = image_tag "supporters/sfpd.png", alt: "San Francisco Police Department logo", title: "San Francisco Police Department logo"
          %li
            %a{href: "http://www.ci.berkeley.ca.us/police/", target: "_blank"}
              = image_tag "supporters/berkeley_pd.png", alt: "Berkeley Police Department logo", title: "Berkeley Police Department logo"
          %li
            %a{href: "https://www.portlandoregon.gov/police/66825", target: "_blank"}
              = image_tag "supporters/pbttf.png", alt: "Portland Bike Theft Task Force", title: "Portland Bike Theft Task Force"
          %li
            %a{href: "https://www.portlandoregon.gov/police/66825", target: "_blank"}
              = image_tag "supporters/bendpd.png", alt: "Bend Oregon Police Department", title: "Bend Oregon Police Department"
          
          
      
      %p.and-many-more
        \... #{t('welcome.index.and-many-more')}:. #{link_to "View the complete list here", where_path}
