%h1
  #{t('organization.claim-your')} #{@organization.name}!
= form_for [@organization_deal], html: { class: "form-horizontal padded" } do |f|
  - if @organization_deal.errors.any?
    #alert-block
      .alert.alert-error
        %h4
          #{t('organization.please-fix')}
          = "#{t('common.errors', :count => @organization_deal.errors.count)}"
        %ul
          - @organization_deal.errors.full_messages.each do |msg|
            %li
              = msg
  = f.hidden_field :organization_id, value: @organization.id
  = f.hidden_field :deal_name, value: @name

  .control-group
    = f.label :email, "#{t('common.Email')}", class: "control-label"
    .controls
      = f.email_field :email, :required =>true
  
  .control-group.actions.padded
    = f.submit "#{t('organization.claim-reg')}", class: 'button-green'
