= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3
              #{@edit_templates[@edit_template]} #{@bike.type}
          .related-fields.hide-this-bike.no-divider-row
            .form-group.row
              - hide_toggle = @bike.user_hidden ? 'Un-hide' : 'Hide'
              .hide-this-bike-link
                %a.collapsed{ href: '#hide_bike_toggle_group', data: { toggle: 'collapse' } }
                  #{hide_toggle} this #{@bike.type}
              .collapse#hide_bike_toggle_group
                - if @bike.user_hidden
                  = f.hidden_field :marked_user_unhidden
                - else
                  = f.hidden_field :marked_user_hidden
                .hide-explanation
                  %p
                    %strong
                      #{t('bikes.keep-public')}
                  %p
                    #{t('bikes.read-more')} #{link_to "#{t('FAQs')}", support_path(anchor: 'public-serials')}.
                  %p
                    #{t('bikes.strongly-recommend')} #{@bike.type} #{t('bikes.keep-visible')} #{@bike.type} #{t('bikes.if-you-prefer')}
                  %p.text-xs-center
                    - btn_type = @bike.user_hidden ? 'btn-success' : 'btn-danger'
                    %a.btn.btn-lg#hide_bike_toggle{role: 'button', class: btn_type }
                      #{hide_toggle} #{@bike.type}

          %hr

          .delete-from-index.no-divider-row
            %a{data: { toggle: 'modal', target: '#request-delete' } }
              = render '/shared/trash_icon'
              #{t('bikes.delete-this')} #{@bike.type} #{t('bikes.from-bi')}


- modal_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: '/shared/alert', locals: { body: "#{t('bikes.please-fill')} #{@bike.type} #{t('common.deletion')}", title: "#{t('bikes.we-want')}", class_names: 'currently-hidden' }
      = hidden_field_tag :bike_delete_bike_id, @bike.id
      .form-group
        %label{ for: :bike_delete_reason }
          Reason for deletion
        = text_area_tag :bike_delete_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag 'Delete bike', class: 'btn btn-danger'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            Nevermind
= render partial: '/shared/modal', locals: { title: "#{t('bikes.are-you-sure')} #{@bike.type}?", id: 'request-delete', modal_body: modal_body }