.organized-page-header
  %h1
    #{current_organization.name} #{t('organized.development-resources')}
  %p
    #{t('organized.were-adding-feat')}

/ .tutorials
/   %h3
/     Tutorials
/   %a{href: "http://youtu.be/o2qqHhTWhLQ"}
/     = image_tag("org_add_bike_screencast_screenshot.png")
/   %a{href: "http://youtu.be/rCj6Gkndm1k"}
/     = image_tag("org_manage_screencast_screenshot.png")

.row
  - if current_organization.org_type == 'shop' && current_organization.access_token.present?
    .col-md-6
      .card.card-block
        %h3.card-title
          #{t('organized.lightspeed-retail')}
        %p.card-text
          #{t('organized.we-provide')} (#{ link_to "#{t('organized.read-more')}", lightspeed_integration_path }).

        %a.card-link{ href: "https://posintegration.bikeindex.org/organizations/connect?id=#{current_organization.slug}&access_token=#{current_organization.access_token}"}
          #{t('organized.point-of')}

  - if current_organization.api_access_approved
    .col-md-6
      .card.card-block
        %h3.card-title
          #{t('organized.api-access')}
        .card-text
          %dl
            %dt
              #{t('organized.org-slug')}
            %dd
              = current_organization.slug
            %dt
              #{t('organized.api-access-token')}
            %dd
              = current_organization.access_token
            %dt
              #{t('organized.api-reg-user')}
            %dd
              - if current_organization.auto_user.present?
                = current_organization.auto_user.email
              - else
                %span
                  #{t('organized.no-user-set')}
                #{t('organized.contact-us-at')}
                = link_to 'support@bikeindex.org', 'mailto:support@bikeindex.org'
                #{t('organized.to-get-api')}.
