.organized-page-header
  %h1
    %em
      = @organization.name
    #{t('common.settings')}
= form_for @organization, { url: organization_manage_path(id: @organization.id, organization_id: @organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|

  .form-group.row
    = f.label :name, "#{t('common.Name')}", class: 'org-form-label'
    .col-sm-4
      = f.text_field :name, required: true, class: 'form-control'

  .form-group.row
    = f.label :short_name, "#{t('common.Abbreviation')}", class: 'org-form-label'
    .col-sm-4
      = f.text_field :short_name, class: 'form-control'

  .form-group.row.fancy-select.unfancy
    = f.label :embedable_user_email, class: 'org-form-label' do
      Registration email
    .col-sm-4
      = f.select :embedable_user_email, @organization.users.pluck(:email), prompt: "#{t('organized.select-email')}", selected: (@organization.auto_user && @organization.auto_user.email)
      %span.below-input-help
        #{t('organized.email-address-that')} #{@organization.name} #{t('organized.will-be-sent')}

  .form-group.row
    %label.org-form-label
      #{t('organized.organization-type')}
    .col-sm-4
      .radio
        %label
          = f.radio_button :org_type, 'shop'
          #{t('organized.Bike-shop')}
      .radio
        %label
          = f.radio_button :org_type, 'advocacy'
          #{t('organized.Advocacy-group')}
      .radio
        %label
          = f.radio_button :org_type, 'police'
          #{t('organized.Police-department')}
      .radio
        %label
          = f.radio_button :org_type, 'college'
          #{t('organized.college')}
      .radio
        %label
          = f.radio_button :org_type, 'manufacturer'
          #{t('common.Manufacturer')}

  .form-group.row
    = f.label :website, class: 'org-form-label'
    .col-sm-4
      = f.text_field :website, class: 'form-control'

  - if current_organization.is_paid
    .form-group.row.avatar-upload-wrapper
      %label.org-form-label
        #{t('organized.org-logo')}
      .col-sm-4
        - if @organization.avatar? 
          = image_tag(@organization.avatar_url(:thumb))
        / - else
        /   %p
        /     No picture!
        %label.file
          = f.file_field :avatar, class: 'avatar-upload-field'
          %span.file-custom
            %span.file-upload-text #{t('users.choose-file')}...
          = f.hidden_field :avatar_cache

  .form-group.row
    .col-sm-4.col-sm-push-4
      = f.submit 'Update', class: 'btn btn-success btn-lg'


- unless current_organization.is_paid
  %hr.delete-organization-section
  %p.text-md-center
    %a.collapsed{ href: '#', data: { toggle: 'collapse', target: '#delete-organization' } }
      #{t('organized.i-would-terminate')}
  #delete-organization.collapse
    .text-md-center
      = link_to 'Delete organization', organization_manage_path(id: current_organization.id, organization_id: current_organization.to_param), method: :delete, confirm: "#{t('organized.are-you-sure')} #{current_organization.name} #{t('organized.from-bi')}?", class: 'btn btn-danger'