.container-fluid
  .row.donate-block
    .col-xs-12
      %h3 #{t('payments.thank-you')}
    .select-amount
      %p
        #{t('payments.your-donation')} $#{@amount.to_i/100.00} #{t('payments.just-saved')}.
      %p.padded
        #{t('payments.xoxo')},
        %br
        #{t('payments.bi-team')}
