%h1#top
  #{t('feedbacks.p1')}

= render 'shared/faq'

= render '/shared/content_footer_ad'

%hr 

%h3.padded#contact_us_section
  #{t('shared.footer.contact-us')}!

%p
  #{t('feedbacks.p2')}
  / #{link_to 'Check out our forum', discuss_url}.
%p
  #{t('feedbacks.p3')} #{link_to "contact@bikeindex.org", "mailto:contact@bikeindex.org"}, #{t('feedbacks.p4')}
- if current_user.present?
  %article
    = render 'feedbacks/form'
- else
  %h3
    = link_to "#{t('feedbacks.p5')}!", new_session_url(return_to: '/help#contact_us_section')