%h2.center-text
  #{t('customer-mailer.confirm-addit')}
  %br
  %small
    %em
      = @user_email.email

%p.center-text{ style: 'margin-bottom: 3em;' }
  #{@user.display_name} #{t('customer-mailer.would-merge')} (#{@user.email}).

= link_to 'Verify email', confirm_user_email_url(id: @user_email.id, confirmation_token: @user_email.confirmation_token), class: 'binx-button'

%p.center-text.less-strong
  #{t('customer-mailer.click-the')} <em>#{t('customer-mailer.verify')}</em> #{t('customer-mailer.button-to')}

%hr

%p.center-text
  #{t('customer-mailer.if-you-dont')}
