* #{t('info.terms.p3a')}! *

#{t('customer-mailer.good-think-smarty')}

#{t('customer-mailer.to-finish')}

#{t('customer-mailer.normally-wed')}

#{t('customer-mailer.so-you-haveto')}

= confirm_users_url(id: @user.id, code: @user.confirmation_token)


#{t('common.Thanks')},
#{t('common.Bike-Index-Management')}