%h1
  #{t('customer-mailer.thankyou')}

%p
  #{t('customer-mailer.we-appreciate')}

- if @payment.is_recurring
  %p
    #{t('customer-mailer.that-you-for')}

%p
  #{t('customer-mailer.your-donation')} <%= @payment.amount.to_i/100.00 %> #{t('customer-mailer.will-really-help')}
