* #{t('customer-mailer.thankyou-somuch')} *

#{t('customer-mailer.your-donation')} $#{@payment.amount.to_i/100.00} #{t('customer-mailer.just-saved')}

#{t('common.Thanks')},
#{t('common.Bike-Index-Management')}