#{t('customer-mailer.woops-password')} #{t('customer-mailer.please-click-pastee')}

= @url

#{t('customer-mailer.if-you-didnt-hit)}' support@bikeindex.org

#{t('common.Thanks')},
#{t('common.Bike-Index-Management')}