%p
  #{t('customer-mailer.woops-password')}
%p{ style: 'margin-bottom: 2em;' }
  #{t('customer-mailer.please-click')}

= link_to "#{t('users.reset-Password')}", @url, class: 'binx-button'

%hr{ style: 'margin-top: 40px;' }

%p.center-text.less-strong
  #{t('customer-mailer.if-you-didnt')} #{ link_to "#{t('customer-mailer.tell-us')}", 'mailto:support@bikeindex.org' }.

