- if @bike.errors.any?
  #alert-block
    .alert.alert-error
      %a.close{"data-dismiss" => "alert"} ×
      %h4
        #{t('organization.please-fix')}
        = "#{t('common.errors', :count => @bike.errors.count)}"
      %ul
        - @bike.errors.full_messages.each do |msg|
          %li
            = msg
= form_for @bike, multipart: true do |f|
  = f.hidden_field :b_param_id
  = f.hidden_field :creation_organization_id
  = f.hidden_field :embeded, value: true
  .input-group{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group
      = f.label :cycle_type_id, class: "control-label"
      .controls
        = collection_select( :bike, :cycle_type_id, CycleType.all, :id, :name, required: true)
    .has-no-serial.optional-block
      %label
        = check_box_tag "use_index",  1, tabindex: -1 
        #{t('organization.use-the')}
        = link_to "#{t('common.Bike-Index')}", "https://bikeindex.org"
        #{t('organization.to-store-info')}.
  
  .input-group{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group
      = f.label :serial_number, class: "control-label"
      .controls
        = f.text_field :serial_number, :required =>true
    .has-no-serial.optional-block
      %label
        = f.check_box :has_no_serial, tabindex: -1 
        - if @bike.stolen?
          #{t('common.Unknown')}
        - else
          #{t('organization.has-no-serial')}

  .input-group.with-additional-block{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group.chosen-select
      = f.label :manufacturer_id, class: "control-label"
      .controls
        = collection_select( :bike, :manufacturer_id, Manufacturer.frames, :id, :name, :required =>true, prompt: "Choose manufacturer")
        %span.help-block
          #{t('organization.select-other')}
    %p.other-value
      = Manufacturer.other.id
    .hidden-other.control-group.manufacturer-other-input
      = f.label :manufacturer_other, "#{t('organization.other-manun')}", class: "control-label"
      .controls
        = f.text_field :manufacturer_other, placeholder: "Manufacturer name"

  .input-group{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group.chosen-select
      = f.label :year, "#{t('organization.model-year')}", class: "control-label"
      .controls
        - years = (1900..Time.now.year+1).to_a.reverse.map {|i| [i,i] }
        = f.select :year, years, selected: Time.now.year
        
  .input-group{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group
      = f.label :frame_model, class: "control-label"
      .controls
        = f.text_field :frame_model, autocomplete: 'off'

  .input-group.with-optional-blocks.form-foot{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
    .control-group
      = f.label :primary_frame_color_id, "#{t('organization.frame-color')}", class: "control-label"
      .controls
        = collection_select( :bike, :primary_frame_color_id, Color.all, :id, :name, required: true, prompt: "Choose color" )
    %a#add-secondary.optional-form-block{data: {target: "#secondary-color", toggle: "#rm-secondary"}}
      #{t('organization.add-color')}
    %a#rm-secondary.optional-form-block.rm-block.currently-hidden{data: {target: "#secondary-color", toggle: "#add-secondary"}}
      #{t('organization.remove-color')}
    #secondary-color.hidden-other
      .control-group
        %label.control-label
          #{t('organization.second-color')}
        .controls
          = collection_select( :bike, :secondary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )
      %a#add-tertiary.optional-form-block{data: {target: "#tertiary-color", toggle: "#rm-tertiary"}}
        #{t('organization.add-color')}
      %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{data: {target: "#tertiary-color", toggle: "#add-tertiary"}}
        #{t('organization.remove-color')}
    #tertiary-color.hidden-other
      .control-group
        %label.control-label
          #{t('organization.third-color')}
        .controls
          = collection_select( :bike, :tertiary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )

  / .input-group.form-foot{ style: "border-bottom: 0; padding: 1.2em 0 0 10px;"}
  /   .control-group
  /     %label.control-label{ for: 'bike_owner_email' }
  /       Your email address
  /       = f.email_field :owner_email
  /   .submit-registration
  /     = submit_tag "Register this", class: "button-submit"
