
.embed-success-block
  = image_tag "resources/logo_striped.svg"
  %h1
    #{t('common.Your')} #{@bike.type} #{t('organization.has-been-added')}
  %p
    = link_to @bike.title, bike_url(@bike), target: "_blank"
    #{t('organization.was-registered')} <strong>#{@organization.name}</strong>.
  %p
    #{t('organization.youll-receive')}
