.vendor-signup
  %h2.padded
    #{t('organization.want-to-signup')}
  %article.vendor-signup-form
    %p
      #{t('layouts.reg.its-free')}
    %p
      #{t('organization.there-are-no-commitments')}
    %p
      #{t('organization.we-just-want')}
    
    = render "new_form"

  %hr.padded

  %header.padded
    .header-text
      %h1
        #{t('organization.are-you-a-bike')}
      %h1
        #{t('organization.a-biking-org')}
    .bike-shop-image
      = image_tag "bike-shop.png", alt: "Bike shop"
  %article
    %p
      #{t('organization.the-bi-gives')} &mdash; <strong>#{t('organization.for-free')}</strong>.
    %p
      #{t('welcome.index.how-it-works')}:

    %ul.fancy-bullets
      %li
        %span.green-bullet
        %p
          #{t('organization.index.fill-in-basic')}
      %li
        %span.green-bullet
        %p
          #{t('organization.index.we-send-them-email')}
      
    %p
      #{t('organization.index.thats-it')}
    %p
      #{t('organization.the-customer-doesnt1')} &mdash; #{t('organization.the-customer-doesnt2')}
    %p
      #{t('organization.if-their-bike1')} &mdash; #{t('organization.if-their-bike2')}

  / %hr.padded
  / %h2.padded.lightspeed-logod
  /   %a{ href: lightspeed_integration_url }
  /     = image_tag 'lightspeed_logo.png', class: 'lightspeed-logo'
  /     integration
  / %article
  /   %p
  /     We have an official
  /     %strong
  /       Lightspeed Retail Integration
  /     that automates the entire process - #{link_to "learn how here", lightspeed_integration_url}.
  
  %hr.padded

  %h2.padded
    #{t('organization.batch-reg')}
  %article
    %p
      #{t('organization.if-youve-spreadsheet')} #{link_to "#{t('organization.contact-us')}", "mailto:seth@bikeindex.org"}.

= render '/shared/content_footer_ad'
