<%= form_for PublicImage.new do |f| %>
  <div class="photo-upload-fields">    
    <%= hidden_field_tag :bike_id, @bike.id %>
    <div class="upload-buttons">
      <div class="multifilefield-button">
        <%=t :public-images.Upload-Photos %>
        <%= f.file_field :image, multiple: true, name: "public_image[image]" %>
      </div>
      <!-- <p class="smaller-text">Use the shift key to select multiple photos</p> -->
    </div>
    <p class="extra-info"><%=t :public-images.drag-n-drop %> <em><%=t :public-images.Upload-Photos %></em> <%=t :common.button %>.</p>
  </div>
<% end %>