<% if @public_image.name.present? %>
  <% name = @public_image.name %>
<% else %>
  <% name = "#{t('public-images.bike-image')}" %>
<% end %>
<% if @public_image.imageable_type == "Blog" %>
  <% name = "#{t('public-images.image-from')} #{@public_image.imageable.title}" %>
<% end %>
<h1><%= link_to name, polymorphic_path(@public_image.imageable) %></h1>

<%= image_tag @public_image.image_url(:large) %>
<% if @owner_viewing %>
  <div class="padded">
    <p class="padded">#{t('public-images.looks-like')}.</p>
    <p>
      <%= link_to "#{t('common.Edit')}", edit_public_image_path(@public_image) %> |
      <%= link_to "#{t('common.Destroy')}", @public_image, confirm: "#{t('public-images.are-you-sure')}", method: :delete %> |
      <%= link_to "#{t('public-images.back-to-public')}", public_images_path %>
    </p>
  </div>
<% end %>