- if @locks.any?
  %header.with-subtitle
    %h3
      #{t('locks.your-locks')}
    %p.sharing-links
      = link_to "#{t('locks.add-new')}", new_lock_url

- if @locks.any?
  %ul.lock-boxes
    - @locks.each do |lock|
      %li
        .blist-image-holder
          %a{href: "/locks/#{lock.id}"}
            = image_tag("locks/#{lock.lock_type.slug}.jpg")
        .blist-primary-group
          %dl.dl-horizontal
            = lock.dl_list_item(link_to(lock.lock_type_name, lock_url(lock)), "Lock Type")
            = lock.dl_list_item(lock.mnfg_name, "Manufacturer")
            = lock.dl_from_attribute("key_serial")
            = lock.dl_from_attribute("combination")

- else
  %h2
    #{t('locks.save-info')}
  %p
    #{t('locks.lock-keys')}
  %p
    #{t('locks.if-you-wantn')}
    %strong
      #{t('locks.save-serials')}
    #{t('locks.on-the1')}&mdash;#{t('locks.on-the2')}
  %p
    #{t('locks.you-can-also')}
    %strong
      #{t('locks.record-lock')}
  %p
    %em
      #{t('locks.any-lock-info')}

  %p
    = link_to "#{t('locks.save-info-lock')}", new_lock_url, class: "button-blue"
