<header>
<h1>
<a name="terms-of-service" class="anchor" href="#terms-of-service"><span class="mini-icon mini-icon-link"></span></a><%=t :users.terms-of-service %></h1>

<p><%=t :info.terms.p1a %> <a href="https://github.com/bikeindex/bike_index_terms/"><%=t :info.terms.p1b %></a>.</p>

<hr>
</header>

<h2>
  <a name="about-our-terms-of-service" class="anchor" href="#about-our-terms-of-service"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p2 %>
</h2>

<p><strong><%=t :info.terms.p3a %></strong>, <%=t :info.terms.p3b %></p>

<p><%=t :info.terms.p4 %> <a href="https://www.bikeindex.org/contact_us"><%= t :organization.contact-us %>></a>.</p>

<h1 id="section_a">
  <a name="section-a-acceptance-of-terms" class="anchor" href="#section-a-acceptance-of-terms"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p5 %>
</h1>

<ol>
  <li>
    <p><%=t :info.terms.p6 %></p>
  </li>
  <li>
    <p>
      <%=t :info.terms.p7 %> <a href="https://www.bikeindex.org/terms">bikeindex.org/terms</a>
    </p>
  </li>
  <li>
    <p><%=t :info.terms.p8 %></p>
  </li>
</ol>


<h1 id="section_b">
  <a name="section-b-account-terms" class="anchor" href="#section-b-account-terms"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p9 %>
</h1>

<ol>
  <li>
    <p><%=t :info.terms.p10 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p11 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p12 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p13 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p14 %></p>
  </li>
</ol>


<h1 id="section_c">
  <a name="section-c-modifications-to-the-service" class="anchor" href="#section-c-modifications-to-the-service"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p15 %>
</h1>

<ol>
  <li>
    <p><%=t :info.terms.p16 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p17 %></p>
  </li>
</ol>

<h1 id="section_d">
  <a name="section-d-copyright-and-content-ownership" class="anchor" href="#section-d-copyright-and-content-ownership"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p18 %>
</h1>

<ol>
  <li>
    <p><%=t :info.terms.p19 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p20 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p21 %></p>
  </li>
</ol>


<h1 id="section_e">
  <a name="section-e-general-conditions" class="anchor" href="#section-e-general-conditions"><span class="mini-icon mini-icon-link"></span></a>
  <%=t :info.terms.p22 %>
</h1>

<ol>
  <li>
    <p><%=t :info.terms.p23 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p24 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p25 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p26 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p27 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p28 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p29 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p30 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p31 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p32 %></p>
  </li>
  <li>
    <p><%=t :info.terms.p33 %></p>
  </li>
  <li><p><%=t :info.terms.p34 %> <a href="mailto:contact@bikeindex.org">contact@bikeindex.org</a>.</p></li>
</ol>
