<header>
<h1>
<a name="terms-of-service-for-vendors" class="anchor" href="#terms-of-service-for-vendors"><span class="mini-icon mini-icon-link"></span></a><%=t :users.terms-for-vendors %></h1>

<p><%=t :info.vendor.p1a %> <a href="https://github.com/bikeindex/bike_index_terms/"></a><%=t :info.vendor.p1b %>.</p>

<hr>
</header>

<h2>
<a name="about-our-terms-of-service-for-vendors" class="anchor" href="#about-our-terms-of-service-for-vendors"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p2 %></h2>

<p><strong><%=t :info.vendor.p3a %></strong>, <%=t :info.vendor.p3b %>.</p>

<p><%=t :info.vendor.p4a %> <a href="https://www.bikeindex.org/contact_us"><%=t :info.vendor.p4b %></a>.</p>

<p><%=t :info.vendor.p5 %></p>

<h2>
<a name="bike-index-vendor-service" class="anchor" href="#bike-index-vendor-service"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p6 %></h2>

<p><%=t :info.vendor.p7a %> <a href="#section_a"><%=t :info.vendor.p7b %></a></p>

<h2>
<a name="charges-for-the-service" class="anchor" href="#charges-for-the-service"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p8 %></h2>

<p><%=t :info.vendor.p9 %></p>

<h2>
<a name="becoming-a-vendor-on-the-bike-index" class="anchor" href="#becoming-a-vendor-on-the-bike-index"><span class="mini-icon mini-icon-link"></span></a></h2>

<p><%=t :info.vendor.p11 %> <a href="#section_c"><%=t :info.vendor.p7b %></a></p>

<h2>
<a name="termination-and-other-legal-terms" class="anchor" href="#termination-and-other-legal-terms"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p12 %></h2>

<p><%=t :info.vendor.p13 %> <a href="#section_d"><%=t :info.vendor.p7b %></a></p>

<h2>
<a name="bike-index-vendor-terms-of-service" class="anchor" href="#bike-index-vendor-terms-of-service"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p14 %></h2>

<p><%=t :info.vendor.p15 %></p>

<h1 id="section_a">
<a name="section-a-the-bike-index-service" class="anchor" href="#section-a-the-bike-index-service"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p16 %></h1>

<ol>
<li>
<h3>
<a name="our-role" class="anchor" href="#our-role"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p17 %></h3>

<p><%=t :info.vendor.p18 %></p>
</li>
<li>
<h3>
<a name="customer-service" class="anchor" href="#customer-service"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p19 %></h3>

<p><%=t :info.vendor.p20 %></p>
</li>
<li>
<h3>
<a name="security" class="anchor" href="#security"><span class="mini-icon mini-icon-link"></span></a><%=t :common.Security %></h3>

<p><%=t :info.vendor.p21a %> <a href="https://bikeindex.org/privacy"><%=t :common.privacy-Policy %></a>, <%=t :info.vendor.p21b %></p>
</li>
<li>
<h3>
<a name="your-privacy" class="anchor" href="#your-privacy"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p22 %></h3>

<p><%=t :info.vendor.p23a %> <a href="https://bikeindex.org/privacy"><%=t :common.privacy-Policy %></a> <%=t :info.vendor.p23b %></p>
</li>
<li>
<h3>
<a name="privacy-of-others" class="anchor" href="#privacy-of-others"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p24 %></h3>

<p><%=t :info.vendor.p25a %> <a href="https://bikeindex.org/terms"><%=t :info.vendor.p25b %></a> <%=t :common.and %> <a href="https://bikeindex.org/privacy"><%=t :common.privacy-Policy %></a></p>

<p><<%=t :info.vendor.p26 %>/p>
</li>
<li>
<h3>
<a name="restricted-use" class="anchor" href="#restricted-use"><span class="mini-icon mini-icon-link"></span></a><p><%=t :info.vendor.p27 %>/p></h3>

<p><%=t :info.vendor.p28 %></p>
</li>
<li>
<h3>
<a name="suspicion-of-unauthorized-or-illegal-use" class="anchor" href="#suspicion-of-unauthorized-or-illegal-use"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p29 %></h3>

<p><%=t :info.vendor.p30 %></p>
</li>
<li>
<h3>
<a name="disclosures-and-notices" class="anchor" href="#disclosures-and-notices"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p31 %></h3>

<p><%=t :info.vendor.p32 %></p>
</li>
<li>
<h3>
<a name="references-to-our-relationship" class="anchor" href="#references-to-our-relationship"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p33 %></h3>

<p><%=t :info.vendor.p34 %></p>
</li>
</ol><h1 id="section_b">
<a name="section-b-bike-index-terms-and-conditions-of-sale" class="anchor" href="#section-b-bike-index-terms-and-conditions-of-sale"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p35 %></h1>

<h1 id="section_c">
<a name="section-c-registering-for-bike-index-vendor-status" class="anchor" href="#section-c-registering-for-bike-index-vendor-status"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p36 %></h1>

<ol>
<li>
<h3>
<a name="vendor-registration" class="anchor" href="#vendor-registration"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p37 %></h3>

<p><%=t :info.vendor.p38 %></p>

<p><%=t :info.vendor.p39 %></p>
</li>
<li>
<h3>
<a name="verification" class="anchor" href="#verification"><span class="mini-icon mini-icon-link"></span></a><%=t :common.Verification %></h3>

<p><%=t :info.vendor.p40 %></p>

<p><%=t :info.vendor.p41 %></p>

<p><%=t :info.vendor.p42 %></p>

<p><%=t :info.vendor.p43 %></p>
</li>
<li>
<h3>
<a name="prohibited-businesses" class="anchor" href="#prohibited-businesses"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p44 %></h3>

<p><%=t :info.vendor.p45 %></p>

<p><%=t :info.vendor.p46 %></p>
</li>
</ol><h1 id="section_d">
<a name="section-d-termination-and-other-legal-matters" class="anchor" href="#section-d-termination-and-other-legal-matters"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p47 %></h1>

<ol>
<li>
<h3>
<a name="term" class="anchor" href="#term"><span class="mini-icon mini-icon-link"></span></a><%=t :common.Term %></h3>

<p><%=t :info.vendor.p48 %></p>
</li>
<li>
<h3>
<a name="termination" class="anchor" href="#termination"><span class="mini-icon mini-icon-link"></span></a><%=t :common.Termination %></h3>

<p><%=t :info.vendor.p49 %></p>
</li>
<li>
<h3>
<a name="effects-of-deactivation" class="anchor" href="#effects-of-deactivation"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p50 %></h3>

<p><%=t :info.vendor.p51 %></p>
</li>
<li>
<h3>
<a name="effects-of-termination" class="anchor" href="#effects-of-termination"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p52 %></h3>

<p><%=t :info.vendor.p53 %></p>

<p><%=t :info.vendor.p54 %></p>
</li>
<li>
<h3>
<a name="your-license-our-trademarks" class="anchor" href="#your-license-our-trademarks"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p55 %></h3>

<p><%=t :info.vendor.p56 %></p>

<p><%=t :info.vendor.p57 %></p>
</li>
<li>
<h3>
<a name="ownership" class="anchor" href="#ownership"><span class="mini-icon mini-icon-link"></span></a><%=t :common.Ownership %></h3>

<p><%=t :info.vendor.p58 %></p>

<p><%=t :info.vendor.p59 %></p>

<p><%=t :info.vendor.p60 %></p>
</li>
<li>
<h3>
<a name="your-liability" class="anchor" href="#your-liability"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p61 %></h3>

<p><%=t :info.vendor.p62 %></p>

<p><%=t :info.vendor.p63 %></p>
</li>
<li>
<h3>
<a name="representation-and-warranties" class="anchor" href="#representation-and-warranties"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p64 %></h3>

<p><%=t :info.vendor.p65 %></p>
</li>
<li>
<h3>
<a name="no-warranties" class="anchor" href="#no-warranties"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p66 %></h3>

<p><%=t :info.vendor.p67 %></p>

<p><%=t :info.vendor.p68 %></p>

<p><%=t :info.vendor.p69 %></p>

<p><%=t :info.vendor.p70 %></p>
</li>
<li>
<h3>
<a name="limitation-of-liability-and-damages" class="anchor" href="#limitation-of-liability-and-damages"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p71 %></h3>

<p><%=t :info.vendor.p72 %></p>

<p><%=t :info.vendor.p73 %></p>

<p><%=t :info.vendor.p74 %></p>

<p><%=t :info.vendor.p75 %></p>

<p><%=t :info.vendor.p76 %></p>

<p><%=t :info.vendor.p77 %></p>
</li>
<li>
<h3>
<a name="binding-arbitration" class="anchor" href="#binding-arbitration"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p78 %></h3>

<p><%=t :info.vendor.p79 %></p>
</li>
<li>
<h3>
<a name="governing-law" class="anchor" href="#governing-law"><span class="mini-icon mini-icon-link"></span></a><%=t :info.vendor.p80 %></h3>

<p><%=t :info.vendor.p81 %></p>
</li>
</ol>
