%h1
  #{t('info.about.p1')}

%p
  #{t('info.about.p2')}

%p
  #{t('info.about.p3')}

%p
  #{t('info.about.p4')}

%p
  #{t('info.about.p5')}

%p
  #{t('info.about.p6')}

%p
  #{t('info.about.p7')}

%h2
  #{t('info.about.the-team')}

%ul.about-people
  %li
    %p
      = image_tag "who/seth-herr2.jpg", alt: 'Seth Herr', title: "Those are not official Bike Index arm warmers, we don't have Bike Index arm warmers"
      %strong
        #{t('common.seth-herr')}
      #{t('info.about.seth-herr-desc')}
  %li
    %p
      = image_tag "who/bryan-hance.jpg", alt: 'Bryan Hance'
      %strong
        #{t('common.bryan-hance')}
      #{t('info.about.bryan-hance-desc')}
  %li
    %p
      = image_tag "who/laura-nash.jpg", alt: 'Laura Nash'
      %strong
        #{t('common.laura-nash')}
      #{t('info.about.laura-nash-desc1')} #{link_to "#{t('common.Twitter')}", "https://twitter.com/BikeIndex"} #{t('common.and')} #{link_to "#{t('common.Facebook')}", "http://facebook.com/bikeindex"} #{t('info.about.laura-nash-desc2')}
  %li
    %p
      = image_tag "who/michael-catano.jpg", alt: 'Michael Catano'
      %strong
        #{t('common.michael-catano')}
      #{t('info.about.michael-catano-desc1')} #{link_to "#{t('info.about.humble-frameworks')}", "http://www.humbleframeworks.cc/"} #{t('info.about.michael-catano-desc2')}
  %li
    %p
      = image_tag "who/mike-oleon.jpg", alt: 'Mike Oleon'
      %strong
        #{t('common.mike-oleon')}
      #{t('info.about.mike-oleon-desc')}


%h2.the-alumni
  #{t('common.Alumni')}

%ul.about-list.about-alumni-list
  %li
    = image_tag "who/will-barrett.jpg", alt: 'Will Barrett'
    %h4
      #{t('common.will-barrett')}
  %li
    = image_tag "who/erin-vogel.jpg", alt: 'Erin Vogel'
    %h4
      #{t('common.erin-vogel')}
  %li
    = image_tag "who/andrew-herr.jpg", alt: 'Andrew Herr'
    %h4
      #{t('common.andrew-herr')}
%ul.about-list.final-list.about-alumni-list
  %li
    = image_tag "who/stephanie-scheurich1.jpg", alt: 'Stephanie Scheurich'
    %h4
      #{t('common.stephanie-scheurich')}
  %li
    = image_tag "who/bike-mike.jpg", alt: 'Mike Pickerd'
    %h4
      #{t('common.mike-pickerd')}
