%h1
  #{t('info.dev.p1')}
%h5
  #{t('info.dev.p2')}
%p
  #{t('info.dev.p3')}
%ul
  %li
    #{t('info.dev.p4')} #{ link_to "#{t('info.dev.on-github')}", 'https://github.com/bikeindex/bike_index' }.
  %li
    = link_to "#{t('info.dev.our-api')}", documentation_index_path
  %li
    = link_to "#{t('info.dev.image-design')}", image_resources_path
  %li
    #{ link_to "#{t('info.dev.nearby-stolen')}", 'https://github.com/bikeindex/stolen_bikes_widget_html' } #{t('info.dev.on-github')}
  %li
    - url_for_embed = current_user ? user_embed_path(current_user) : new_user_url(return_to: dev_and_design_path)
    #{ link_to "#{t('info.dev.personal-widget')}", url_for_embed } #{t('info.dev.must-login1')}
  %li
    #{link_to "#{t('info.dev.oauth1')}", oauth_applications_path } #{t('info.dev.must-login')}
  %li
    #{ link_to "#{t('info.dev.oauth2')}", oauth_authorized_applications_path } #{t('info.dev.must-login')}
