%h1
  #{t('info.image.p1')}


%ul.serial-pictures
  %li
    %a.serial-image.blackbg{ href: image_path('resources/logo_bordered.svg') }
      = image_tag('resources/logo_bordered.svg', alt: 'Basic logo')
    %p
      #{t('info.image.p2')} (#{link_to 'svg', image_path('resources/logo_bordered.svg') }, #{link_to 'png', image_path('resources/logo_bordered.png') })
      %br
      %small.less-strong
        #{t('info.image.p3')}
  %li
    %a.serial-image{ href: image_path('resources/logo_striped.svg') }
      = image_tag('resources/logo_striped_short.svg', alt: 'Logo with stripes')
    %p
      #{t('info.image.p4')} (#{link_to 'svg', image_path('resources/logo_striped.svg') }, #{link_to 'png', image_path('resources/logo_striped.png') })
  %li
    %a.serial-image{ href: image_path('resources/logo.svg') }
      = image_tag('resources/logo.svg', alt: 'Single color logo')
    %p
      #{t('info.image.p5')} (#{link_to 'svg', image_path('resources/logo.svg') }, #{link_to 'png', image_path('resources/logo.png') })
  
  %li
    %a.serial-image.blackbg{ href: image_path('resources/logo_white.svg') }
      = image_tag('resources/logo_white.svg', alt: 'Single color logo in white')
    %p
      #{t('info.image.p6')} (#{link_to 'svg', image_path('resources/logo_white.svg') }, #{link_to 'png', image_path('resources/logo_white.png') })
      %br
      %small.less-strong
        #{t('info.image.p7')}

  %li
    %a.serial-image.blackbg{ href: image_path('resources/logo_backgrounded.svg') }
      = image_tag('resources/logo_backgrounded.svg', alt: 'Logo with background cutout')
    %p
      #{t('info.image.p8')} (#{link_to 'svg', image_path('resources/logo_backgrounded.svg') }, #{link_to 'png', image_path('resources/logo_backgrounded.png') })
      %br
      %small.less-strong
        #{t('info.image.p9')}