<div id="legal-terms" class="inner-recep legal-content">
  <header>
  <h1>
    <a name="privacy-policy" class="anchor" href="#privacy-policy"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :common.privacy-Policy %>
  </h1>

  <p><%=t :info.privacy.p1a %> <a href="https://github.com/bikeindex/bike_index_terms/"><%=t :info.privacy.p1b %></a>.</p>

  <hr>
  </header>

  <h2>
    <a name="privacy-general-information" class="anchor" href="#privacy-general-information"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :info.privacy.p2 %>
  </h2>

  <p><%=t :info.privacy.p3 %></p>

  <p><%=t :info.privacy.p4 %></p>

  <p><%=t :info.privacy.p5 %></p>

  <h2>
    <a name="privacy-information-gathering-and-usage" class="anchor" href="#information-gathering-and-usage"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :info.privacy.p6 %>
  </h2>

  <p><%=t :info.privacy.p7 %></p>
  <p><%=t :info.privacy.p8 %></p>

  <h2>
    <a name="cookies" class="anchor" href="#cookies"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :common.Cookies %>
  </h2>

  <p><%=t :info.privacy.p9 %></p>

  <p><%=t :info.privacy.p10 %></p>

  <p><%=t :info.privacy.p11 %></p>


  <h2>
    <a name="data-storage" class="anchor" href="#data-storage"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :info.privacy.p12 %>
  </h2>

  <p><%=t :info.privacy.p13 %></p>

  <h2>
    <a name="disclosure" class="anchor" href="#disclosure"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :common.Disclosure %>
  </h2>

  <p>
    <%=t :info.privacy.p14 %> <a href="https://bikeindex.org/terms"><%=t :users.terms-of-service %></a>.
  </p>

  <h2>
    <a name="changes" class="anchor" href="#changes"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :common.Changes %>
  </h2>

  <p><%=t :info.privacy.p15 %></p>

  <p><%=t :info.privacy.p16 %> <a href="mailto:contact@bikeindex.org">contact@bikeindex.org</a>.</p>


  <h2>
    <a name="questions" class="anchor" href="#questions"><span class="mini-icon mini-icon-link"></span></a>
    <%=t :common.Questions %>
  </h2>

  <p><%=t :info.privacy.p17a %> <a href="mailto:contact@bikeindex.org">contact@bikeindex.org</a> <%=t :info.privacy.p17b %></p>
</div>