%h1
  #{t('layouts.content.protect-your-bike')}!
%h2#fnref-bike-theft-estimate
  #{t('info.image.p1')}
  %sup
    %a.footnote-ref{ href: "#fn-bike-theft-estimate" }
      1


  %br
  %strong
    #{t('info.image.p2')}

%article.padded
  %ol
    %li
      %p
        %strong
          #{t('info.image.p3')}
        #{t('info.image.p4')}
        %strong
          #{t('info.image.p5')}
    %li
      %p
        #{t('info.image.p6')}
    %li
      %p
        #{t('info.image.p7')}
    %li
      %p
        #{t('info.image.p8')}
    %li
      %p
        #{t('info.image.p9')}
    %li
      %p
        #{t('info.image.p10')}


%article
  #locking-demonstration
    .locked
      = image_tag "Locking.svg", alt: "#{t('info.image.p11')}", title: "#{t('info.image.p12')}"
    %p
      %strong
        #{t('info.image.p13')}
      %br
      #{t('info.image.p14')}

%p
  %em.less-strong
    #{t('info.image.p15a')} #{ link_to "Chicago.StolenBike.org", "http://chicago.stolenbike.org" } #{t('info.image.p15b')} #{ link_to "Sweethome", "http://thesweethome.com/reviews/best-bike-lock/" } #{t('info.image.p15c')}

= render '/shared/content_footer_ad'
  
.footnotes
  %ol
    %li#fn-bike-theft-estimate
      #{t('info.image.p16')}
      %a{ href: "https://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-7" }
        #{t('info.image.p17')}
      #{t('info.image.p18')}
      %a{ href: "http://www.transalt.org/files/resources/blueprint/chapter11/" }
        #{t('info.image.p19')}
      #{t('info.image.p20')}
      %a{ href: "http://blog.priceonomics.com/post/30393216796/what-happens-to-stolen-bicycles" }
        #{t('common.exploration)}
      #{t('info.image.p21')} #{link_to "↩", "#fnref-bike-theft-estimate", title: "#{t('info.image.p22')}", class: "footnote-back-link"}.

