%h1
  #{t('info.resources.p1')}

%ul
  %li
    %p
      <strong>#{t('common.Infographic')}</strong>:
      %a{ href: how_not_to_buy_stolen_url }
        #{t('info.resources.p2')}
  %li
    %p
      #{t('info.resources.p3')} #{link_to "map of bike thefts", "http://map.bikewise.org"}.
  %li
    %p
      #{t('info.resources.p4')} #{link_to "logos and design assets", image_resources_url}.
  %li
    %p
      #{t('info.resources.p5')} #{link_to "Learn about serial numbers here", serials_url}.
  %li
    %p
      #{t('info.resources.p6')}
      = link_to "#{t('info.resources.p7')}", manufacturers_url
      #{t('info.resources.p8')}
  %li
    %p
      #{t('info.resources.p9')} #{link_to "GitHub", "https://github.com/bikeindex", target: "_blank"}.
  %li
    %p
      #{t('info.resources.p10')} #{link_to "#{t('layouts.documentation.api-documentation')}", documentation_index_url}.

= render '/shared/content_footer_ad'
