%h1
  #{t('info.serials.p1')}
%p#fnref-all-bikes-serials
  #{t('info.serials.p2')}
  %sup
    %a.footnote-ref{ href: '#fn-all-bikes-serials' }
      1
  #{t('info.serials.p3')}

%p
  #{t('info.serials.p4')}


%ul.serial-pictures
  %li
    = link_to image_tag('serials/serial_bb.jpg', alt: 'Bike with bottom bracket circled'), image_path('serials/serial_bb.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p5')}
  %li
    = link_to image_tag('serials/serial_peters.jpg', alt: 'Standard serial number'), image_path('serials/serial_peters.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p6')}
  %li
    = link_to image_tag('serials/serial_fixie.jpg', alt: 'Another standard serial number. Sometime to be replaced with a serial number covered up by routing.'), image_path('serials/serial_fixie.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p7')}
  %li
    = link_to image_tag('serials/serial_headtube.jpg', alt: 'Schwinn Serial.'), image_path('serials/serial_headtube.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p8')}
  
  %li
    = link_to image_tag('serials/serial_pinsch.jpg', alt: 'Doberman dropout serial number'), image_path('serials/serial_pinsch.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p9')}


  %li#fnref-all-bikes-serials
    = link_to image_tag('serials/serial_look.jpg', alt: 'Look serial number'), image_path('serials/serial_look.jpg'), class: 'serial-image'
    %p
      #{t('info.serials.p10')}
      %sup
        %a.footnote-ref{ href: '#fn-second-serial-number' }
          2
      #{t('info.serials.p11')}

%p
  #{t('info.serials.p12')}
  / # = link_to 'Check out the forum', discuss_url
  #{t('common.email')} #{link_to 'contact@bikeindex.org', 'mailto:contact@bikeindex.org'}
  #{t('info.serials.p13')}

= render '/shared/content_footer_ad'

.footnotes
  %ol
    %li#fn-all-bikes-serials
      #{t('info.serials.p14')}
      %em
        #{t('common.maybe')}
      #{t('info.serials.p15')}
      %a.footnote-back-link{ href: "#fnref-all-bikes-serials", title: "#{t('info.serials.p18')}"}
        &#8617;
    %li#fn-second-serial-number
      #{t('info.serials.p16')}
      %em
        200910427-2A
      #{t('info.serials.p17')}
      %a.footnote-back-link{ href: "#fnref-second-serial-number", title: "#{t('info.serials.p19')}"}
        &#8617;    