!!!
%html
  = render 'shared/header'
  
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body#body{ class: body_class }
    = render 'layouts/messages'

    #content-wrap.header-closed
      %header.global-header.collapsible-head.invisibled#header
        = render 'shared/header_nav'

      %a#nav-header-collapse.expandable
        %span.e +
        %span.c -


      %header.content-sidebar#documentation-menu
        .header-content
          .logo
            %a.follow-link.logo{ href: root_url }
              = image_tag "logo.svg"
              %h2
                #{t('shared.header.title')}
        %nav.content-nav#doc-sections
          %ul.content-sections
            %li.active-menu
              = link_to "#{t('layouts.documentation.api-documentation')}", "#header", class: "documentation-head scroll-to-ref"
            %li
              = link_to "#{t('common.Manufacturers')}", "#manufacturers_ref", class: "scroll-to-ref"
            %li
              = link_to "#{t('layouts.documentation.searching-bikes')}", "#search_bikes_ref", class: "scroll-to-ref"
            %li
              = link_to "#{t('layouts.documentation.adding-bikes')}", "#add_bikes_ref", class: "scroll-to-ref"
              %ul
                %li
                  = link_to "#{t('layouts.documentation.organizations-and-access-tokens')}", "#org_access", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.bike-object')}", "#bike_hash", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.components-and-photos')}", "#components_for_bikes", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.stolen-bikes')}", "#stolen_bikes", class: "scroll-to-ref"
            %li
              = link_to "#{t('layouts.documentation.bike-attributes')}", "#bike_attributes_ref", class: "scroll-to-ref"
              %ul
                %li
                  = link_to "#{t('layouts.documentation.wheel-sizes')}", "#wheel_sizes_ref", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.cycle-types')}", "#cycle_types_ref", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.frame-materials')}", "#frame_materials_ref", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.handlebar-types')}", "#handlebar_types_ref", class: "scroll-to-ref"
                %li
                  = link_to "#{t('layouts.documentation.component-types')}", "#component_types_ref", class: "scroll-to-ref"
                


      %section.page-content#documentation-content
        = yield
        
      = render 'shared/footer'